<ion-view view-title="Sind Sie Experte?" cache-view="false">
  <ion-content>
    <ion-slide-box on-slide-changed="slideHasChanged($index)">
      <ion-slide>
        <div class="list card">
          <div class="item item-image">
            <img src="img/are-you-an-expert/1_step.png">
          </div> 
          <div class="item item-body item-explanation">
            <h2>1. Kundenanfrage erhalten</h2>
            <p>
              <ul>
                <li>
                  <i class="ion-checkmark"></i> Unsere Kunden suchen auf askCharlie den passenden Partner für ihre Projekte.
                </li>
                <li>
                  <i class="ion-checkmark"></i> askCharlie prüft alle eingehenden Anfragen.
                </li>
                <li>
                  <i class="ion-checkmark"></i> askCharlie leitet die passenden Anfragen an Sie weiter.
                </li>
            </p>
          </div>
        </div>
      </ion-slide>
      <ion-slide>
        <div class="list card">
          <div class="item item-image">
            <img src="img/are-you-an-expert/2_step.png">
          </div>
          <div class="item item-body item-explanation">
            <h2>2. Angebot erstellen</h2>
            <p>
              <ul>
                <li>
                  <i class="ion-checkmark"></i> Sie entscheiden, ob Sie dem Kunden ein Angebot machen wollen.
                </li>
                <li>
                  <i class="ion-checkmark"></i> Senden Sie Ihr Angebot mit einer persönlichen Nachricht an den Kunden.
                </li>
                <li>
                  <i class="ion-checkmark"></i> Sie zahlen nur, wenn Sie tatsächlich ein Angebot abgeben (Preisliste)..
                </li>
            </p>
          </div>
        </div>
      </ion-slide>
      <ion-slide>
        <div class="list card">
          <div class="item item-image">
            <img src="img/are-you-an-expert/3_step.png">
          </div>
          <div class="item item-body item-explanation">
            <h2>3. Auftrag erhalten</h2>
            <p>
              <ul>
                <li>
                  <i class="ion-checkmark"></i> Der Kunde erhält mehrere Angebote und vergleicht sie.
                </li>
                <li>
                  <i class="ion-checkmark"></i> Anhand Ihres Profils und Ihrer persönlichen Nachricht haben Sie den Kunden überzeugt.
                </li>
                <li>
                  <i class="ion-checkmark"></i> Besprechen Sie weitere Details mit dem Kunden bequem per E-Mail oder Telefon.
                </li>
            </p>
          </div>
        </div>
      </ion-slide>
      <ion-slide>
        <div class="list card">
            <div class="item item-image item-image-explanation">
              <img src="img/askCharlie.svg" class="full-image" />
            </div>
            <div class="item item-body">
              <h2>Gewinnen Sie neue Aufträge mit askCharlie</h2>
              <p>In weniger als 5 Minuten anmelden und sofort passende Kundenanfragen erhalten</p>
              <button class="button button-full button-positive" ng-click="openSignUp()">
                  Kostenfrei registrieren
              </button>
            </div>
          </div>
        </div>
      </ion-slide>
    </ion-slide-box>
  </ion-content>
</ion-view>
