<ion-view view-title="Kontakt" cache-view="false">
  <ion-content>
    <div class="list">
      <label class="item text-center">
        <h2 class="text-center"><i class="ion-ios-telephone"></i> Telefonnummer: <a href="tel:+4930220127912">030 / 220 127 912</a></h2>
      </label>
    </div>
    <form name="contactForm" ng-submit="sendMessage(contactForm)">
      <div class="list" ng-hide="messageSent">
        <label class="item text-center">
          <h2><i class="ion-email"></i>  Kontakt Form</h2>
        </label>
        <label class="item item-input item-stacked-label" ng-class="{true: 'validation-error'}[formSubmitted && contactForm.name.$invalid]">
          <span class="input-label">Name</span>
          <input name="name" type="text" placeholder="John" ng-model="contactData.name"  required />
        </label>
        <label class="item item-input item-stacked-label" ng-class="{true: 'validation-error'}[formSubmitted && contactForm.email.$invalid]">
          <span class="input-label">E-Mail</span>
          <input name="email" type="email" placeholder="name@askcharlie.de" ng-model="contactData.email" required />
        </label>
        <label class="item item-input item-stacked-label" ng-class="{true: 'validation-error'}[formSubmitted && contactForm.message.$invalid]" >
            <span class="input-label">Kommentar</span>
            <textarea name="message" placeholder="Geben Sie hier Du Kommentar..." ng-model="contactData.message" required></textarea>
        </label>
      </div>
      <div class="padding" ng-hide="messageSent">
        <button class="button button-full button-positive" ng-click="formSubmitted = true" type="submit">
          Senden
        </button>
      </div>
      <div class="padding text-center" ng-show="messageSent">
        Deine Nachricht wurde gesendet.
      </div>
    </form>
  </ion-content>
</ion-view>
