<ion-view view-title="Frag Charlie" cache-view="false">
  <ion-content>
    <div class="padding">
      <h1 class="margin-top margin-bottom text-center">
        <img src="img/askCharlie.svg" class="main-logo" alt="askCharlie" />
      </h1>
      <h2 class="text-center">Frag Charlie... den Rest erledigen wir</h2>
      <h3 class="text-center margin-bottom">Egal ob Gartenarbeit oder Personal Trainer - wir stellen Ihnen den richtigen Experten vor.</h3>
      <form name="askCharlieForm" ng-submit="goToQuestionnaire(askCharlieForm)">
        <div class="list">
          <label class="item item-input item-select" ng-class="{true: 'validation-error'}[formSubmitted && askCharlieForm.category.$invalid]">
            <span class="input-label">
              Was suchen Sie?
            </span>
            <select name="category" ng-model="askCharlieData.category" required>
              <option style="display:none" value=""></option>
              <optgroup ng-repeat="category in categories" label="{{category.name}}">
                <option ng-repeat="subcategory in category.subcategories" value="{{subcategory.value}}">
                  {{subcategory.name}}
                </option>
              </optgroup>
            </select>
          </label>
          <label class="item item-input" ng-class="{true: 'validation-error'}[formSubmitted && askCharlieForm.zipCode.$invalid]">
            <span class="input-label">
              Postleitzahl?
            </span>
            <input name="zipCode" ng-model="askCharlieData.zipCode" placeholder="10117" type="number" class="text-right" required />
          </label>
          <button class="button button-full button-positive margin-top" type="submit" ng-click="formSubmitted = true">
            Los geht's
          </button>
        </div>
      </form>
    </div>
  </ion-content>
</ion-view>
