<ion-view view-title="So funktioniert's" cache-view="false">
  <ion-content>
    <ion-slide-box on-slide-changed="slideHasChanged($index)">
      <ion-slide>
        <div class="list card">
          <div class="item item-image item-image-explanation">
            <img src="img/how-it-works/hiw_1.svg">
          </div>
          <div class="item item-body">
            <h2>1. Sie nennen uns Ihr Projekt</h2>
            <p>
              Egal ob Sie einen Anwalt in München, einen DJ in Berlin oder einen Personal Trainer in Köln suchen - Sie beschreiben Ihr Projekt einmalig, indem Sie uns ein paar kurze Fragen beantworten. Den Rest erledigen wir.
            </p>
          </div>
        </div>
      </ion-slide>
      <ion-slide>
        <div class="list card">
          <div class="item item-image item-image-explanation">
            <img src="img/how-it-works/hiw_2.svg">
          </div>
          <div class="item item-body">
            <h2>2. Wir finden den richtigen Experten</h2>
            <p>
              Ersparen Sie sich lästige Telefonanrufe und Recherche - das übernehmen wir. Sie erhalten kostenlos mehrere Angebote von interessierten und qualifizierten Experten per E-Mail. Telefonisch werden Sie nur auf Ihren ausdrücklichen Wunsch kontaktiert.
            </p>
          </div>
        </div>
      </ion-slide>
      <ion-slide>
        <div class="list card">
          <div class="item item-image item-image-explanation">
            <img src="img/how-it-works/hiw_3.svg">
          </div>
          <div class="item item-body">
            <h2>3. Sie wählen den passenden Experten</h2>
            <p>
              Sie vergleichen mehrere Angebote. Mit wenigen Klicks entscheiden Sie sich für den Experten, der am besten zu Ihnen passt.
            </p>
            <button class="button button-full button-positive" ng-click="$root.goToHome()">
              Frag Charlie... den Rest erledigen wir
            </button>
          </div>
        </div>
      </ion-slide>
    </ion-slide-box>
  </ion-content>
</ion-view>
