<ion-modal-view cache-view="false">
  <ion-header-bar>
    <h1 class="title">Einloggen</h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="closeLogin()">schließen</button>
    </div>
  </ion-header-bar>
  <ion-content>
    <form name="loginForm" ng-submit="doLogin()">
      <div class="list">
        <label class="item text-center">
          Willkommen beim askCharlie Partner Area
        </label>
        <label class="item item-input" ng-class="{true: 'validation-error'}[formSubmitted && loginForm.email.$invalid]">
          <span class="input-label">E-Mail</span>
          <input name="email" type="text" ng-model="loginData.email" required />
        </label>
        <label class="item item-input" ng-class="{true: 'validation-error'}[formSubmitted && loginForm.password.$invalid]">
          <span class="input-label">Passwort</span>
          <input name="password" type="password" ng-model="loginData.password" required />
        </label>
        <label class="item">
          <button class="button button-full button-positive" ng-click="formSubmitted = true" type="submit">Anmelden</button>
        </label>
      </div>
    </form>
  </ion-content>
</ion-modal-view>
