<ion-modal-view>
  <ion-header-bar>
    <h1 class="title">Ausloggen</h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="closeLogin()">schließen</button>
    </div>
  </ion-header-bar>
  <ion-content>
    <form ng-submit="doLogout()">
      <div class="list">
        <label class="item text-center">
          Bist du sicher, dass du es tun?
        </label>
        <label class="item">
          <button class="button button-full button-positive" type="submit">Ausloggen</button>
        </label>
      </div>
    </form>
  </ion-content>
</ion-modal-view>
