<ion-side-menus enable-menu-with-back-views="false">
  <ion-side-menu-content>
    <ion-nav-bar class="bar-light">
      <ion-nav-back-button>
      </ion-nav-back-button>

      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
      </ion-nav-buttons>

       <ion-nav-buttons side="right">
        <button class="button button-icon button-clear ion-person" ng-click="login()" ng-hide="$root.userLoggedIn">
        </button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="left">
    <ion-header-bar class="bar-light">
      <img src="img/askCharlie.svg" class="full-image"alt="askCharlie" />
    </ion-header-bar>
    <ion-content>
      <ion-list>
        <ion-item menu-close href="#/app/home">
          Frag Charlie
        </ion-item>
        <ion-item menu-close href="#/app/how-it-works" ng-hide="$root.userLoggedIn">
          So funktioniert's
        </ion-item>
        <ion-item menu-close href="#/app/are-you-an-expert" ng-hide="$root.userLoggedIn">
          Sind Sie Experte?
        </ion-item>
        <ion-item menu-close ng-click="login()" ng-hide="$root.userLoggedIn">
          Einloggen
        </ion-item>
        <ion-item menu-close href="openSignUp()" ng-show="$root.userLoggedIn">
          Profil bearbeiten
        </ion-item>
        <ion-item menu-close ng-click="logout()" ng-show="$root.userLoggedIn">
          Ausloggen
        </ion-item>
        <ion-item menu-close href="#/app/contact">
          Kontakt
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
