<ion-content class="full-size-content">
  <ion-slide-box>
    <ion-slide>
      <div class="summary summary-step-1 padding">
        <div> 
          <h1 class="text-center">
            Wir stellen Ihnen qualifizierte und geprüfte Experten vor&lt;
          </h1>
        </div>
      </div>
    </ion-slide>
    <ion-slide>
      <div class="summary summary-step-2 padding">
        <div> 
          <h1 class="text-center">
            Sie erhalten kostenlos mehrere unverbindliche Angebote
          </h1>
        </div>
      </div>
    </ion-slide>
    <ion-slide>
      <div class="summary summary-step-3 padding">
        <div> 
          <h1 class="text-center margin-bottom">
            Sie vergleichen alle Angebote und wählen das Beste aus
          </h1>
          <a class="button button-full button-positive" href="#/app/">
            Frag Charlie... den Rest erledigen wir
          </a>
        </div>
      </div>
    </ion-slide>
  </ion-slide-box>
</ion-content>
