/*
To customize the look and feel of Ionic, you can override the variables
in ionic's _variables.scss file.

For example, you might change some of the default colors:

$light:                           #fff !default;
$stable:                          #f8f8f8 !default;
$positive:                        #387ef5 !default;
$calm:                            #11c1f3 !default;
$balanced:                        #33cd5f !default;
$energized:                       #ffc900 !default;
$assertive:                       #ef473a !default;
$royal:                           #886aea !default;
$dark:                            #444 !default;
*/

// askCharlie custom variables:
$positive: #ff9f02 !default;


// The path for our ionicons font files, relative to the built CSS in www/css
$ionicons-font-path: "../lib/ionic/fonts" !default;

// Include all of Ionic
@import "www/lib/ionic/scss/ionic";


//
// askCharlie customs
//

@mixin font-face($font-family, $file-path, $font-weight, $font-style){
  @font-face{
    font-family: $font-family;
      src: url('#{$file-path}.eot');
      src: url('#{$file-path}.eot?#iefix') format('embedded-opentype'),
           url('#{$file-path}.woff') format('woff'),
           url('#{$file-path}.ttf') format('truetype'),
           url('#{$file-path}.svg##{$font-family}') format('svg');
    font-weight: $font-weight;

    font-style: $font-style;
  }
}
@include font-face(Lato, '../fonts/Lato-Regular', 400, normal);

// Global
*{
  font-family: Lato;
}
html{
  font-size: 14px;
}
h1{
  font-size: 17px;
  font-weight: 600;
}
h2{
  font-size: 16px;
  font-weight: 500;
}
h3{
  font-size: 15px;
  font-weight: 400;
}
textarea{
    overflow-y: scroll;
    height: auto;
    min-height: 120px;
    color: #343434;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
.text-right{
  text-align: right !important;
}
.text-left{
  text-align: left !important;
}
.text-center{
  text-align: center !important;
}
.margin-top{
  margin-top: 35px !important;
}
.margin-bottom{
  margin-bottom: 35px !important;
}
.full-size-content, .full-size-content .scroll, .full-size-content .scroll > *:first-child{
  height: 101%;
  width: 100%;
}
.validation-error, .validation-error input, .validation-error textarea, .validation-error select{
  color: #d9534f !important;
  background-color: #f2dede !important;
}
.pane, .view{
  background-color: #f6f6f6;
}
.bar, .slider{
  border: none;
}
.slider {
  height: 100%;
}
.item{
  color: #7d7d7d;
}
.item-explanation li{
  margin-bottom: 10px;
}
.item-input{
  background-color: #ffffff;
}
.item-image-explanation img:first-child, .item-image-explanation .list-img{
    width: 60%;
    vertical-align: middle;
    margin: 20px;
}

.main-logo{
  width: 80%;
}
.summary{
  height: 100%;
  background-position-x: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  display: flex;
  align-items: center;

  >div{
    width: 100%;
  }

  h1{
    font-size: 2.00rem;
    line-height: 3rem;
    text-shadow: 0 0.125rem 0.25rem rgba(0,0,0,0.2);
    color: white;
  }
}
.summary.summary-step-1{
  background-image: url("../img/summary/1.jpg");
}
.summary.summary-step-2{
  background-image: url("../img/summary/2.jpg");
}
.summary.summary-step-3{
  background-image: url("../img/summary/3.jpg");
}